<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="packageselect.hushush.co">
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity
            android:name=".PackageSelectActivity"
            android:label="@string/title_activity_package_select"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>